QPushButton#MenuButton {
    background-color: transparent;
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid #EBEBEB;
    text-align: left;
}

QPushButton#MenuButton:hover {
    background-color: rgba(74, 89, 146, 100);
}

QWidget#MainInterface {
    background-color: rgb(241, 244, 255);
}

QPushButton#ToolInfoButton {
    background-color: transparent;
    color: white;
    border-radius: 4px;
    text-align: center;
}

QPushButton#ToolInfoButton:hover {
    background-color: rgba(74, 89, 146, 100);
}

QFrame#LeftFrame {
    background-color: rgba(94, 107, 157, 200);
    border: none;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

QListWidget {
    outline: none;
    background-color: transparent;
    border-radius: 4px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

QListWidget::item {
    background-color: transparent;
    color: white;
    height: 50px;
    border-radius: 10px;
    margin: 0px;
    margin-top: 2px;
    text-align: center;
}

QListWidget::item:selected {
    font-weight: bold;
    background-color: rgb(74, 89, 146);
    color: white;
    border-left: 4px solid white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

QListWidget::item:hover {
    background-color: rgba(74, 89, 146, 100);
}

QFrame#InfoToolTip {
    background-color: rgb(108, 33, 33);
    border-radius: 10px;
}