QLabel#DataAcqusion {
    background-color: rgba(135, 206, 235, 140);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: "Helvetica", "微软雅黑", "宋体";
    font-size: 18px;
    font-weight: bold;
}

QLabel#SampleAcqusion {
    background-color: rgba(135, 206, 235, 140);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: "Helvetica", "微软雅黑", "宋体";
    font-size: 18px;
    font-weight: bold;
}

QFrame#ProgressFrame {
    background-color: white;
    border: none;
    border-radius: 10px;
}

QProgressBar {
    color: white;
    font-family: "Helvetica", "微软雅黑", "宋体";
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(135, 206, 235, 140);
    min-width: 200px;
    min-height: 20px;
    text-align: center;
}

QProgressBar::chunk {
    background-color: skyblue;
    min-height: 20px;
    min-width: 20px;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 10px;
}