#SearchEditLine {
    min-width: 200px;
    max-width: 250px;
    min-height: 30px;
    max-height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Helvetica", "微软雅黑", "宋体";
}

#SearchEditLine:focus {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 2px solid gray;
}